{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row">
      <div class="left-column col-lg-7 offset-lg-1">
        <div class="post-container card flex-column p-4">
          {% if comment.commenter == request.user %}
          <form method="POST">{% csrf_token %}
            <h3>Confirm Delete Comment</h3>
            <p>Are you sure you want to delete the comment?</p>
            <div class="d-flex flex-wrap flex-fill">
              <button class="btn btn-danger flex-fill m-1" type="submit">Delete Comment</button> 
              <a class="btn btn-secondary flex-fill m-1" href="{{request.META.HTTP_REFERER}}"> Cancel </a> 
            </div> 
          </form>
          {% else %}
          <!-- If not owner of comment -->
          <div class="card d-flex flex-column">
              <p>You have to be the owner to delete a comment! </p>
              {% if user.is_authenticated %}
              <a class="btn btn-primary flex-fill m-1" href="{% url 'home' %}"> Home </a>
              <!-- If not logged in --> 
              {% else %}
              <div>
                <a href="{% url 'login' %}" class="btn btn-primary"> Login </a>
                <a href="{% url 'register' %}" class="btn btn-primary"> Register </a>
              </div>
              {% endif %}
          </div>
          {% endif %}
      </div>
  </div>
</div>

{% endblock %}