{% block content %}
        
{% for comment in comments %}

<div class="comment border-left  border-primary offset-1 {% if forloop.first %} rounded-top {%endif%} {% if forloop.last %} border-bottom rounded-bottom {%endif%} ">

    <div class="comment-info"> <strong>{{ comment.commenter.username}}</strong> on {{ comment.created_on }}</div>
    <p>{{ comment.body|linebreaks }}</p>
    {% if user.is_authenticated %}
    <a class="text-muted font-italic smaller" data-toggle="collapse" href="#reply{{forloop.counter}}comment{{comment.pk}}" role="button" aria-expanded="false" aria-controls="collapse reply{{forloop.counter}}">
        reply
      </a>
      <div class="collapse" id="reply{{forloop.counter}}comment{{comment.pk}}">
        <div class="card card-body">
            <form action="" method="POST" id="main_form" class="comment_form">
                <input type="text" name="body"> 
                <input type="hidden" value="{{ comment.pk }}" name="parent"> {% csrf_token %} 
                <input class="btn btn-primary" type="submit" value="Submit">
          </form>
        </div>
      </div>
    
{% endif %}
    {% if comment.children.count > 0 %}
        {% include "comment-thread.html" with comments=comment.children.all %}
    {% endif %}
</div>
{% endfor %}

{% endblock %}