{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="left-column col-lg-7 offset-lg-1 infinite-container">
            
            <div class="post-container card flex-column p-4">
                {% if user.is_authenticated %}
                <h2>
                    {% if create %}
                        Create Post
                    {% else %}
                        Edit Post
                    {% endif %}
                </h2>
                <form method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                  
                    {{ form | crispy }}
                    
                <button class="btn btn-primary" type="submit" value="Upload"> 
                    {% if create %}
                        Create Post
                    {% else %}
                        Save Changes
                    {% endif %}
                </button>
                </form>
                {% else %}
                
                <div class="card d-flex flex-column">
                    <p>You have to be logged in to post! </p>
                    <div>
                        <a href="{% url 'login' %}" class="btn btn-primary"> Login </a>
                        <a href="{% url 'register' %}" class="btn btn-primary"> Register </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    
<script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
  </script>

{%endblock%}