{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">

        <div class="left-column col-lg-7 offset-lg-1">
            
            <div class="post-container card flex-column p-4">
                <h1>Login</h1>
                <form method="post" >
                    {% csrf_token %}
                    {{ login_form | crispy }}
                    <button type="submit" class="btn btn-primary w-100">Login</button> </button>
                </form>
                <div>
                    <a href="{% url 'register' %}" class="btn btn-link"> Register </a>
                    <a href="{% url 'password_reset' %}" class="btn btn-link"> Forgot Password </a>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}