{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="post-card">
    <div class="post-head" >
            <img class="" src="{{post.thumbnail.url}}" alt="">
            <h2 class="post-title">{{post.title}} </h2>
        </a>
        <div class="post-footer">
            <a href="{% url 'user' post.author.username %}" class="card-footer-text">{{post.author.username}}</a>
            <span class="card-footer-text"><i class="fa-solid fa-thumbs-up"></i> {{post.number_of_likes}}</span>
            <span class="card-footer-text"><i class="fa-solid fa-thumbs-down"></i> {{post.number_of_dislikes}}</span>
            <span class="card-footer-text">{{post.created_on}}</span>
            {% if post.author == request.user %}
            <a class="card-footer-text" href="{% url 'edit' post.slug %}"> Edit </a>
            {% endif %}
        </div>
    </div>
    <div class="post-body">
        <p>{{ post.body|safe }}</p>
   </div>
</div>
<div class="comment-section">
    <div class="comments-head">
        {% with comments.count as total_comments %}
        <p>Comments: {{ total_comments }} </p>
        

    </div>
    {% if total_comments > 0 %}
        {% include "comment-thread.html" with comments=post.children.all %}
    {% else %}
        <p>This post has no comments yet.</p>
    {% endif %}
</div>
<div>
    {% if user.is_authenticated %}
    <p>Leave a comment as: <a href="{% url 'user' user.username %}" class="card-footer-text">{{user.username}}</a></p>
    <form method="post">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
    </form>
    {% endif %}
</div>
{% endwith %}
{% endblock %}