{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="post-card">
    <div class="post-head" >
            <img class="" src="{{post.thumbnail.url}}" alt="">
            <h2 class="post-title">{{post.title}} </h2>
        </a>
        <div class="post-footer">
            <a href="{% url 'user' post.author.username %}" class="card-footer-text">{{post.author.username}}</a>

            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fa-solid fa-thumbs-up"></i></button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fa-regular fa-thumbs-up"></i></button>
                    {% endif %}
            </form>
            {% else %}
                <span class="text-secondary"><i class="fa-regular fa-thumbs-up"></i></span>
            {% endif %}
            <span class="card-footer-text"> {{post.number_of_likes}}</span>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'post_dislike' post.slug %}" method="POST">
                {% csrf_token %}
                    {% if disliked %}
                    <button type="submit" name="post_id" value="{{post.slug}}" class="btn-dislike"><i class="fa-solid fa-thumbs-down"></i></button>
                    {% else %}
                    <button type="submit" name="post_id" value="{{post.slug}}" class="btn-dislike"><i class="fa-regular fa-thumbs-down"></i></button>
                    {% endif %}
            </form>
            {% else %}
                <span class="text-secondary"><i class="fa-regular fa-thumbs-down"></i></span>
            {% endif %}
            <span class="card-footer-text">{{post.number_of_dislikes}}</span>
            <span class="card-footer-text">{{post.created_on}}</span>
            {% if post.author == request.user %}
            <a class="card-footer-text" href="{% url 'edit' post.slug %}"> Edit </a>
            {% endif %}
        </div>
    </div>
    <div class="post-body">
        <p>{{ post.body|safe }}</p>
   </div>
</div>
<div class="comment-section">
    <div class="comments-head">
        {% with comments.count as total_comments %}
        <p>Comments: {{ total_comments }} </p>
        

    </div>
    {% if total_comments > 0 %}
        {% include "comment-thread.html" with comments=post.children.all %}
    {% else %}
        <p>This post has no comments yet.</p>
    {% endif %}
</div>
<div>
    {% if user.is_authenticated %}
        <p>Leave a comment as: <a href="{% url 'user' user.username %}" class="card-footer-text">{{user.username}}</a></p>
        <form method="post" id="main_form" class="comment_form">
            <div>
                {{ comment_form.body | as_crispy_field }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg", value="Post">Submit</button>
            </div>
        </form>
    {% else %} 
        <h2>Log in to leave a comment</h2> 
    {% endif %}
</div>
{% endwith %}
{% endblock %}