{% extends "base.html" %}

{% block content %}

    <h1>Register</h1>
    <form method="post" >
        {% csrf_token %}
        {% for field in user_reg_form %}
        <div>
            <p>
                {{field.label_tag}}
                {{field}}

                {% for error in field.errors %}
                    <p>{{error}}</p>
                {% endfor %}
                
            </p>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary"></button>> Register</button>
    </form>
        <a href="{% url 'login' %}" class="btn btn-secondary"></a>> Login </a>


{%endblock%}