{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="left-column col-lg-7 offset-lg-1 infinite-container">
                <div class="post-container card flex-column p-4">

                    {% if request.user.username == profile.username %}
                    <p>Account: {{ request.user.email }}</p>
                    {% endif %}
                    <h5>{{ profile.username }}'s Post History:</h5>
                    {% for post in posts %}
                        <div>
                        <a href="{% url 'post_detail' post.slug %}">
                        Title: {{post.title}}, Likes: {{post.number_of_likes}}, Dislikes: {{post.number_of_dislikes}}
                        </a>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}