{% extends "base.html" %}

{% block content %}
    {% if request.user.username == profile.username %}
        <h5>Account {{ request.user.email }}</h5>
        <form method="post" >
            {% csrf_token %}
            {{ username_form.as_p }}
            
            {% for error in username_form.errors %}
                <p>{{error}}</p>
            {% endfor %}

            {% if username_form.non_field_errors %}
                <p>{{ username_form.non_field_errors }}</p>
            {% endif %}
            <button type="submit"> Update</button>
        </form>

    {% else %}
        <h5>User: {{ request.user.username }}</h5>
    {% endif %}

    {% for post in posts %}
    <ul>
        
     <div><a href="{% url 'post_detail' post.slug %}">
        Title {{post.title}}, Likes {{post.number_of_likes}}, Dislikes {{post.number_of_dislikes}}
     </a></div>
       
    </ul>
    {% endfor %}
{% endblock %}